In [2]:
import pandas as pd
import numpy as np

In [3]:
#reading greenhouse multispew data
data_greenhouse = pd.read_csv("Multispeq_HIPS_GS1_GH.csv")

In [4]:
#reading field multispeq data
data_field = pd.read_csv("Multispeq_HIPS_GS1_Field.csv")

In [5]:
data_greenhouse.head()

,ID,Series,Repeat,PLOT ID,REP,air_temp_kinetics,Ambient Humidity,Ambient Pressure,Ambient Temperature,data_raw_PAM,...,time,Time of Day,tP700,v_initial_P700,vH+,User,Device ID,Latitude,Longitude,Issues
0,2826053,Whole Data Set,1,4104,2,"27.78,27.79,27.8",41.63965,975.71924,27.80,"460,458,458,458,458,458,457,457,457,457,456,45...",...,06/29/2022 4:04 PM,16.074722,0.0017,0.011985,0.005,Deniz Istipliler,52:00:08:06,40.832821,-96.690845,NaN
1,2826043,Whole Data Set,1,4104,1,"27.82,27.82,27.82",42.10254,975.71295,27.82,"456,453,455,453,454,454,453,456,454,456,458,45...",...,06/29/2022 4:20 PM,16.341944,0.0106,0.007547,0.009,Deniz Istipliler,52:00:08:06,40.832800,-96.690827,NaN
2,2826052,Whole Data Set,1,4106,2,"27.86,27.87,27.87",41.73926,975.76263,27.87,"290,288,290,286,288,289,287,288,289,290,289,29...",...,06/29/2022 4:05 PM,16.086389,-0.0031,0.006549,0.000,Deniz Istipliler,52:00:08:06,40.832824,-96.690848,NaN
3,2826042,Whole Data Set,1,4106,1,"27.9,27.91,27.92",42.39844,975.74005,27.92,"406,407,409,407,406,408,408,408,407,406,406,40...",...,06/29/2022 4:21 PM,16.357222,0.0103,0.008763,0.003,Deniz Istipliler,52:00:08:06,40.832817,-96.690844,NaN
4,2826065,Whole Data Set,1,4108,2,"27.25,27.26,27.28",42.12012,975.98578,27.28,"472,471,470,469,470,469,471,471,470,471,468,46...",...,06/29/2022 3:46 PM,15.773611,0.0046,0.008741,0.009,Deniz Istipliler,52:00:08:06,40.832815,-96.690846,NaN

In [6]:
#Inserting a column "Source" with the value of 'GH' since this data came from Greenhouse
data_greenhouse.insert(4, "Source", np.repeat("GH", 213))

In [7]:
data_greenhouse.head()

,ID,Series,Repeat,PLOT ID,Source,REP,air_temp_kinetics,Ambient Humidity,Ambient Pressure,Ambient Temperature,...,time,Time of Day,tP700,v_initial_P700,vH+,User,Device ID,Latitude,Longitude,Issues
0,2826053,Whole Data Set,1,4104,GH,2,"27.78,27.79,27.8",41.63965,975.71924,27.80,...,06/29/2022 4:04 PM,16.074722,0.0017,0.011985,0.005,Deniz Istipliler,52:00:08:06,40.832821,-96.690845,NaN
1,2826043,Whole Data Set,1,4104,GH,1,"27.82,27.82,27.82",42.10254,975.71295,27.82,...,06/29/2022 4:20 PM,16.341944,0.0106,0.007547,0.009,Deniz Istipliler,52:00:08:06,40.832800,-96.690827,NaN
2,2826052,Whole Data Set,1,4106,GH,2,"27.86,27.87,27.87",41.73926,975.76263,27.87,...,06/29/2022 4:05 PM,16.086389,-0.0031,0.006549,0.000,Deniz Istipliler,52:00:08:06,40.832824,-96.690848,NaN
3,2826042,Whole Data Set,1,4106,GH,1,"27.9,27.91,27.92",42.39844,975.74005,27.92,...,06/29/2022 4:21 PM,16.357222,0.0103,0.008763,0.003,Deniz Istipliler,52:00:08:06,40.832817,-96.690844,NaN
4,2826065,Whole Data Set,1,4108,GH,2,"27.25,27.26,27.28",42.12012,975.98578,27.28,...,06/29/2022 3:46 PM,15.773611,0.0046,0.008741,0.009,Deniz Istipliler,52:00:08:06,40.832815,-96.690846,NaN

In [8]:
data_field.head()

,ID,Series,Repeat,PLOT ID,REP,air_temp_kinetics,Ambient Humidity,Ambient Pressure,Ambient Temperature,data_raw_PAM,...,time,Time of Day,tP700,v_initial_P700,vH+,User,Device ID,Latitude,Longitude,Issues
0,2822255,Whole Data Set,1,4104,1,"24.44,24.47,24.51",45.55762,980.98608,24.51,"374,376,375,376,376,376,374,375,377,374,374,37...",...,06/28/2022 8:18 AM,8.314722,-0.0001,-0.540479,-0.446,Deniz Istipliler,52:00:08:06,40.852332,-96.616715,NaN
1,2822254,Whole Data Set,1,4104,2,"24.93,24.97,24.99",46.45410,980.91498,24.99,"404,401,404,400,405,405,401,404,405,405,406,40...",...,06/28/2022 8:20 AM,8.338333,-0.0797,-0.000251,0.040,Deniz Istipliler,52:00:08:06,40.852328,-96.616726,NaN
2,2822253,Whole Data Set,1,4106,1,"25.19,25.23,25.24",45.39258,980.81995,25.24,"760,756,756,759,758,757,758,754,756,757,756,75...",...,06/28/2022 8:21 AM,8.354444,0.0112,0.164864,0.136,Deniz Istipliler,52:00:08:06,40.852266,-96.616658,NaN
3,2822252,Whole Data Set,1,4106,2,"25.35,25.38,25.42",44.93066,980.78674,25.42,"502,502,500,498,500,501,501,497,498,498,500,50...",...,06/28/2022 8:21 AM,8.364722,0.0321,0.006851,0.056,Deniz Istipliler,52:00:08:06,40.852273,-96.616687,NaN
4,2822251,Whole Data Set,1,4108,1,"25.64,25.66,25.69",43.59570,980.77661,25.69,"436,435,436,436,438,434,436,436,439,438,438,43...",...,06/28/2022 8:22 AM,8.380000,-0.0322,-0.000933,0.056,Deniz Istipliler,52:00:08:06,40.852392,-96.616628,NaN

In [9]:
data_field.shape

(217, 59)

In [10]:
# Looking for the bad measurement acording to multispeq
data_field.loc[data_field["PLOT ID"] == 4236, :]

,ID,Series,Repeat,PLOT ID,REP,air_temp_kinetics,Ambient Humidity,Ambient Pressure,Ambient Temperature,data_raw_PAM,...,time,Time of Day,tP700,v_initial_P700,vH+,User,Device ID,Latitude,Longitude,Issues
48,2822207,Whole Data Set,1,4236,1,"29.24,29.25,29.27",37.83203,980.59204,29.27,"309,309,310,310,307,306,309,314,306,311,311,31...",...,06/28/2022 9:05 AM,9.093333,0.0003,0.111131,0.027,Deniz Istipliler,52:00:08:06,40.852215,-96.616311,1.0
49,2822206,Whole Data Set,1,4236,2,"29.32,29.33,29.35",37.61914,980.59564,29.35,"248,247,252,246,246,249,250,246,249,248,248,24...",...,06/28/2022 9:06 AM,9.101667,-0.0036,-0.005541,0.106,Deniz Istipliler,52:00:08:06,40.852199,-96.616309,NaN
216,2822207,Measurements w/ Issues,1,4236,1,"29.24,29.25,29.27",37.83203,980.59204,29.27,"309,309,310,310,307,306,309,314,306,311,311,31...",...,06/28/2022 9:05 AM,9.093333,0.0003,0.111131,0.027,Deniz Istipliler,52:00:08:06,40.852215,-96.616311,1.0

In [11]:
# dropping the bad measurement (plot id 4236)
data_field = data_field.drop(216)

In [12]:
#Inserting a column "Source" with the value of "field" since this data came from field
data_field.insert(4, "Source", np.repeat("field", 216))

In [13]:
data_field.head()

,ID,Series,Repeat,PLOT ID,Source,REP,air_temp_kinetics,Ambient Humidity,Ambient Pressure,Ambient Temperature,...,time,Time of Day,tP700,v_initial_P700,vH+,User,Device ID,Latitude,Longitude,Issues
0,2822255,Whole Data Set,1,4104,field,1,"24.44,24.47,24.51",45.55762,980.98608,24.51,...,06/28/2022 8:18 AM,8.314722,-0.0001,-0.540479,-0.446,Deniz Istipliler,52:00:08:06,40.852332,-96.616715,NaN
1,2822254,Whole Data Set,1,4104,field,2,"24.93,24.97,24.99",46.45410,980.91498,24.99,...,06/28/2022 8:20 AM,8.338333,-0.0797,-0.000251,0.040,Deniz Istipliler,52:00:08:06,40.852328,-96.616726,NaN
2,2822253,Whole Data Set,1,4106,field,1,"25.19,25.23,25.24",45.39258,980.81995,25.24,...,06/28/2022 8:21 AM,8.354444,0.0112,0.164864,0.136,Deniz Istipliler,52:00:08:06,40.852266,-96.616658,NaN
3,2822252,Whole Data Set,1,4106,field,2,"25.35,25.38,25.42",44.93066,980.78674,25.42,...,06/28/2022 8:21 AM,8.364722,0.0321,0.006851,0.056,Deniz Istipliler,52:00:08:06,40.852273,-96.616687,NaN
4,2822251,Whole Data Set,1,4108,field,1,"25.64,25.66,25.69",43.59570,980.77661,25.69,...,06/28/2022 8:22 AM,8.380000,-0.0322,-0.000933,0.056,Deniz Istipliler,52:00:08:06,40.852392,-96.616628,NaN

In [14]:
# Merging two dataframes
merged_data = pd.merge(data_field , data_greenhouse , how= 'outer')

In [15]:
merged_data.head()

,ID,Series,Repeat,PLOT ID,Source,REP,air_temp_kinetics,Ambient Humidity,Ambient Pressure,Ambient Temperature,...,time,Time of Day,tP700,v_initial_P700,vH+,User,Device ID,Latitude,Longitude,Issues
0,2822255,Whole Data Set,1,4104,field,1,"24.44,24.47,24.51",45.55762,980.98608,24.51,...,06/28/2022 8:18 AM,8.314722,-0.0001,-0.540479,-0.446,Deniz Istipliler,52:00:08:06,40.852332,-96.616715,NaN
1,2822254,Whole Data Set,1,4104,field,2,"24.93,24.97,24.99",46.45410,980.91498,24.99,...,06/28/2022 8:20 AM,8.338333,-0.0797,-0.000251,0.040,Deniz Istipliler,52:00:08:06,40.852328,-96.616726,NaN
2,2822253,Whole Data Set,1,4106,field,1,"25.19,25.23,25.24",45.39258,980.81995,25.24,...,06/28/2022 8:21 AM,8.354444,0.0112,0.164864,0.136,Deniz Istipliler,52:00:08:06,40.852266,-96.616658,NaN
3,2822252,Whole Data Set,1,4106,field,2,"25.35,25.38,25.42",44.93066,980.78674,25.42,...,06/28/2022 8:21 AM,8.364722,0.0321,0.006851,0.056,Deniz Istipliler,52:00:08:06,40.852273,-96.616687,NaN
4,2822251,Whole Data Set,1,4108,field,1,"25.64,25.66,25.69",43.59570,980.77661,25.69,...,06/28/2022 8:22 AM,8.380000,-0.0322,-0.000933,0.056,Deniz Istipliler,52:00:08:06,40.852392,-96.616628,NaN

In [16]:
# to check if data was merged well, each plot ID needs to have 4 row (2 field , 2 GH)
merged_data.loc[merged_data['PLOT ID'] == 4104 , :]

,ID,Series,Repeat,PLOT ID,Source,REP,air_temp_kinetics,Ambient Humidity,Ambient Pressure,Ambient Temperature,...,time,Time of Day,tP700,v_initial_P700,vH+,User,Device ID,Latitude,Longitude,Issues
0,2822255,Whole Data Set,1,4104,field,1,"24.44,24.47,24.51",45.55762,980.98608,24.51,...,06/28/2022 8:18 AM,8.314722,-0.0001,-0.540479,-0.446,Deniz Istipliler,52:00:08:06,40.852332,-96.616715,NaN
1,2822254,Whole Data Set,1,4104,field,2,"24.93,24.97,24.99",46.45410,980.91498,24.99,...,06/28/2022 8:20 AM,8.338333,-0.0797,-0.000251,0.040,Deniz Istipliler,52:00:08:06,40.852328,-96.616726,NaN
216,2826053,Whole Data Set,1,4104,GH,2,"27.78,27.79,27.8",41.63965,975.71924,27.80,...,06/29/2022 4:04 PM,16.074722,0.0017,0.011985,0.005,Deniz Istipliler,52:00:08:06,40.832821,-96.690845,NaN
217,2826043,Whole Data Set,1,4104,GH,1,"27.82,27.82,27.82",42.10254,975.71295,27.82,...,06/29/2022 4:20 PM,16.341944,0.0106,0.007547,0.009,Deniz Istipliler,52:00:08:06,40.832800,-96.690827,NaN

In [17]:
merged_data.shape

(429, 60)

In [18]:
#save the file as a csv
merged_data.to_csv('GS1_multispeq.csv')

In [19]:
#reading the ground truth data 
data_ground_truth = pd.read_csv('2022-Brooke-Maize_groundtruth.csv')

In [20]:
data_ground_truth.shape

(284, 11)

In [21]:
data_ground_truth.head()

,Genotype,PLOT ID,REP,Fresh Weight,Leaf Area,SPAD 1,SPAD 2,SPAD 3,Field Location,Growth Stage,Source
0,B14A,1028,1,6.55,240.0,46.5,40.7,49.0,SAM,1,GH
1,B14A,1028,2,7.90,237.9,40.9,45.3,50.6,SAM,1,GH
2,2FACC,1052,1,8.70,273.3,49.2,50.4,52.1,SAM,1,GH
3,2FACC,1052,2,6.80,234.6,51.7,49.5,52.3,SAM,1,GH
4,PHZ51,1056,1,4.45,178.2,32.6,39.0,35.5,SAM,1,GH

In [22]:
#merging the ground truths with the multispeq measurements
merged_data_with_gt = pd.merge(merged_data, data_ground_truth, how='outer')

In [23]:
merged_data_with_gt.shape

(500, 68)

In [24]:
#save the the final file as a csv into the working directory
merged_data_with_gt.to_csv('merged_gt_multi.csv')

In [25]:
# reading the last version (genotype IDs and sources were added on excel)
merged_gt_multi = pd.read_csv('merged_gt_multi_last.csv')

In [26]:
# looking at the data
merged_gt_multi.head()

,Unnamed: 0,ID,Series,Repeat,PLOT ID,Source,REP,air_temp_kinetics,Ambient Humidity,Ambient Pressure,...,Longitude,Issues,Genotype,Fresh Weight,Leaf Area,SPAD 1,SPAD 2,SPAD 3,Field Location,Growth Stage
0,0,2822255.0,Whole Data Set,1.0,4104,field,1,"24.44,24.47,24.51",45.55762,980.98608,...,-96.616715,NaN,PHJ40 x LH82,NaN,NaN,NaN,NaN,NaN,HIPS,1
1,1,2822254.0,Whole Data Set,1.0,4104,field,2,"24.93,24.97,24.99",46.45410,980.91498,...,-96.616726,NaN,PHJ40 x LH82,NaN,NaN,NaN,NaN,NaN,HIPS,1
2,2,2822253.0,Whole Data Set,1.0,4106,field,1,"25.19,25.23,25.24",45.39258,980.81995,...,-96.616658,NaN,2FACC x 3IIH6,NaN,NaN,NaN,NaN,NaN,HIPS,1
3,3,2822252.0,Whole Data Set,1.0,4106,field,2,"25.35,25.38,25.42",44.93066,980.78674,...,-96.616687,NaN,2FACC x 3IIH6,NaN,NaN,NaN,NaN,NaN,HIPS,1
4,4,2822251.0,Whole Data Set,1.0,4108,field,1,"25.64,25.66,25.69",43.59570,980.77661,...,-96.616628,NaN,B37 x OH43,NaN,NaN,NaN,NaN,NaN,HIPS,1

In [27]:
# Changing the column name 'Genotype ' to 'Genotype' (there was an unnecessary space after column name)
merged_gt_multi.rename(columns={'Genotype ':'Genotype'}, inplace=True)

In [28]:
#Shifting Genotype column to the first place
merged_gt_multi.insert(0, 'Genotype', merged_gt_multi.pop('Genotype'))

In [29]:
#Arrange the column order
merged_gt_multi.insert(0, 'PLOT ID', merged_gt_multi.pop('PLOT ID'))

In [30]:
merged_gt_multi.insert(2, 'REP', merged_gt_multi.pop('REP'))

In [31]:
merged_gt_multi.insert(3, 'Growth Stage', merged_gt_multi.pop('Growth Stage'))

In [32]:
merged_gt_multi.insert(4, 'Field Location', merged_gt_multi.pop('Field Location'))

In [33]:
merged_gt_multi.columns

Index(['PLOT ID', 'Genotype', 'REP', 'Growth Stage', 'Field Location',
       'Unnamed: 0', 'ID', 'Series', 'Repeat', 'Source', 'air_temp_kinetics',
       'Ambient Humidity', 'Ambient Pressure', 'Ambient Temperature',
       'data_raw_PAM', 'ECS_averaged_trace', 'ECS_tau', 'ECSt mAU', 'fitinput',
       'FmPrime', 'FoPrime', 'Fs', 'FvP_over_FmP', 'gH+', 'humidity2_K',
       'humidity_K', 'kP700', 'leaf angle', 'Leaf Temperature',
       'Leaf Temperature Differenial', 'Leaf Temperature Differential',
       'LEAF_temp', 'leaf_thickness', 'LEF', 'LEFd_trace',
       'Light Intensity (PAR)', 'NPQt', 'outdata', 'P700_DIRK_ampl',
       'P700_DIRK_averaged_trace', 'P700_fitinput', 'P700_outdata', 'Phi2',
       'PhiNO', 'PhiNPQ', 'PS1 Active Centers', 'PS1 Open Centers',
       'PS1 Over Reduced Centers', 'PS1 Oxidized Centers',
       'PSI_data_absorbance', 'pump', 'qL', 'SPAD', 'test_data_raw_PAM',
       'time', 'Time of Day', 'tP700', 'v_initial_P700', 'vH+', 'User',
       'Device ID', 'Latitude', 'Longitude', 'Issues', 'Fresh Weight',
       'Leaf Area', 'SPAD 1', 'SPAD 2 ', 'SPAD 3'],
      dtype='object')

In [34]:
#Selecting the necessary columns for the analysis 
merged_gt_multi =  merged_gt_multi.loc[: , ['PLOT ID', 'Genotype', 'REP', 'Growth Stage', 'Field Location', 'Source', 'Ambient Humidity', 
                         'Ambient Pressure', 'Ambient Temperature', 'FmPrime', 'FoPrime', 'Fs', 'FvP_over_FmP', 
                         'Leaf Temperature', 'Leaf Temperature Differential', 'leaf_thickness', 'LEF', 'NPQt', 
                         'Phi2', 'PhiNO', 'PhiNPQ', 'PS1 Active Centers', 'PS1 Open Centers',  'PS1 Over Reduced Centers',
                         'PS1 Oxidized Centers' ,  'qL' ,  'SPAD', 'time',  'vH+' , 'Genotype' , 'Fresh Weight',
                         'Leaf Area', 'SPAD 1' , 'SPAD 2 ', 'SPAD 3']]

In [35]:
# # Changing the column name 'SPAD 2 ' to 'SPAD 2' (there was an unnecessary space after column name)
merged_gt_multi.rename(columns={'SPAD 2 ':'SPAD 2'}, inplace=True)

In [36]:
merged_gt_multi.head()

,PLOT ID,Genotype,REP,Growth Stage,Field Location,Source,Ambient Humidity,Ambient Pressure,Ambient Temperature,FmPrime,...,qL,SPAD,time,vH+,Genotype,Fresh Weight,Leaf Area,SPAD 1,SPAD 2,SPAD 3
0,4104,PHJ40 x LH82,1,1,HIPS,field,45.55762,980.98608,24.51,1913.07,...,0.624,43.382,06/28/2022 8:18 AM,-0.446,PHJ40 x LH82,NaN,NaN,NaN,NaN,NaN
1,4104,PHJ40 x LH82,2,1,HIPS,field,46.45410,980.91498,24.99,1862.77,...,0.574,43.844,06/28/2022 8:20 AM,0.040,PHJ40 x LH82,NaN,NaN,NaN,NaN,NaN
2,4106,2FACC x 3IIH6,1,1,HIPS,field,45.39258,980.81995,25.24,1160.09,...,0.224,41.721,06/28/2022 8:21 AM,0.136,2FACC x 3IIH6,NaN,NaN,NaN,NaN,NaN
3,4106,2FACC x 3IIH6,2,1,HIPS,field,44.93066,980.78674,25.42,1681.31,...,0.446,51.963,06/28/2022 8:21 AM,0.056,2FACC x 3IIH6,NaN,NaN,NaN,NaN,NaN
4,4108,B37 x OH43,1,1,HIPS,field,43.59570,980.77661,25.69,1789.57,...,0.467,44.400,06/28/2022 8:22 AM,0.056,B37 x OH43,NaN,NaN,NaN,NaN,NaN

In [37]:
# we need to change the dolumn type of PLOT ID to string (unicode characters) from float64 (numeric values) so that
# we will be able to merge this column with the column from the 'spectrum' data
merged_gt_multi['PLOT ID'] = merged_gt_multi['PLOT ID'].astype(str)

In [38]:
merged_gt_multi.REP.dtype

dtype('int64')

In [85]:
#reading ASD data
spectrum = pd.read_csv('2022_Brooke_GS1_spectrum.csv' , low_memory=False)

In [92]:
spectrum.tail()

,PLOT ID,REP,Leaf_pos,350,351,352,353,354,355,356,...,2491,2492,2493,2494,2495,2496,2497,2498,2499,2500
839,6276,1.0,3.0,0.107234,0.115203,0.112398,0.097500,0.090000,0.093400,0.097400,...,0.069600,0.069200,0.068900,0.068400,0.068100,0.068100,0.068000,0.067900,0.067600,0.067100
840,6276,2.0,1.0,0.112225,0.110560,0.101272,0.091300,0.094900,0.095300,0.095400,...,0.070200,0.070300,0.070000,0.069800,0.069600,0.069400,0.069000,0.068300,0.067900,0.067600
841,6276,2.0,2.0,0.108195,0.107547,0.107465,0.109588,0.118219,0.100562,0.093883,...,0.077100,0.076900,0.076400,0.075800,0.075300,0.074163,0.073700,0.073800,0.073700,0.073800
842,6276,2.0,3.0,0.111189,0.108915,0.110970,0.111569,0.107796,0.109890,0.108722,...,0.072600,0.072000,0.071700,0.072300,0.072100,0.071400,0.071000,0.070100,0.069801,0.070400
843,baseline_starting,NaN,NaN,1.019772,1.034421,1.029902,1.016438,1.021927,1.029062,1.027176,...,1.053262,1.053694,1.053816,1.054406,1.054563,1.053949,1.053793,1.053971,1.053758,1.053206

In [93]:
#Removing the baseline record
index_baseline = spectrum.loc[spectrum['PLOT ID']== 'baseline_starting', :].index
spectrum.drop(index_baseline, inplace=True)

In [94]:
spectrum.head()

,PLOT ID,REP,Leaf_pos,350,351,352,353,354,355,356,...,2491,2492,2493,2494,2495,2496,2497,2498,2499,2500
0,1028,1.0,1.0,0.105548,0.102302,0.104163,0.116835,0.146721,0.095300,0.081600,...,0.0465,0.046000,0.045705,0.045900,0.0458,0.045500,0.045200,0.0449,0.0447,0.0446
1,1028,1.0,2.0,0.108398,0.093300,0.098600,0.113678,0.126751,0.108762,0.090200,...,0.0544,0.054100,0.053800,0.053368,0.0529,0.052672,0.052500,0.0521,0.0519,0.0524
2,1028,1.0,3.0,0.086000,0.073370,0.089000,0.114219,0.125969,0.088900,0.072400,...,0.0524,0.052000,0.051800,0.051400,0.0512,0.051300,0.051000,0.0502,0.0499,0.0496
3,1028,2.0,1.0,0.071900,0.105173,0.118218,0.111817,0.135876,0.108325,0.088800,...,0.0489,0.049248,0.049000,0.048400,0.0481,0.047434,0.047313,0.0481,0.0481,0.0478
4,1028,2.0,2.0,0.095700,0.081202,0.087500,0.112920,0.148533,0.110400,0.100083,...,0.0484,0.048400,0.048200,0.047800,0.0475,0.046800,0.046400,0.0463,0.0461,0.0459

In [96]:
#Changing the names of the colums ('Plot_ID' and 'Rep' as 'PLOT ID' and 'REP') to have common column names
spectrum.rename(columns={'Plot_ID': 'PLOT ID', 'Rep':'REP'}, inplace=True)

In [97]:
spectrum.columns[0:5]

Index(['PLOT ID', 'REP', 'Leaf_pos', '350', '351'], dtype='object')

In [98]:
#Converting PLOT ID in spectrum to string to be consistent with the one in merged_data_with_gt
spectrum['PLOT ID'] = spectrum['PLOT ID'].astype(str)

In [104]:
# Check the values in PLOT ID whether everything is ok or not
spectrum['PLOT ID'].value_counts(dropna=False).tail(20)

6134    6
4131    6
5150    6
5135    6
1056    6
1197    6
4234    6
4122    6
5270    6
5238    6
6111    6
6110    6
2225    6
5206    6
5176    6
6149    6
2053    6
2098    6
4119    5
5116    3
Name: PLOT ID, dtype: int64

In [100]:
# Input error : PLOT ID '4755' should be '4155'
spectrum.loc[spectrum['PLOT ID']== '4755', 'PLOT ID' ] = '4155'

In [101]:
# Input error : PLOT ID 5236 should be '5238'
spectrum.loc[spectrum['PLOT ID']== '5236', 'PLOT ID' ] = '5238'

In [102]:
# Input error : PLOT ID '4134' should be '4234'
spectrum.loc[spectrum['PLOT ID']== '4134', 'PLOT ID' ] = '4234'

In [103]:
# Input error: PLOT ID '5223' is redundant
index_5223 = spectrum.loc[spectrum['PLOT ID'] == '5223', :].index
spectrum.drop(index_5223, inplace=True)

In [105]:
#merging multi + ground truth + hyperspectral data
GS1_all_merged = pd.merge(merged_gt_multi, spectrum , how='outer')

In [106]:
#Changing the column position of 'Leaf_pos'
GS1_all_merged.insert(3, 'Leaf_pos', GS1_all_merged.pop('Leaf_pos'))

In [107]:
GS1_all_merged.head(50)

,PLOT ID,Genotype,REP,Leaf_pos,Growth Stage,Field Location,Source,Ambient Humidity,Ambient Pressure,Ambient Temperature,...,2491,2492,2493,2494,2495,2496,2497,2498,2499,2500
0,4104,PHJ40 x LH82,1,1.0,1,HIPS,field,45.55762,980.98608,24.51,...,0.063600,0.063600,0.063300,0.0630,0.062576,0.061800,0.061500,0.061800,0.061600,0.061200
1,4104,PHJ40 x LH82,1,2.0,1,HIPS,field,45.55762,980.98608,24.51,...,0.061100,0.060314,0.059900,0.0599,0.059600,0.059400,0.059027,0.058200,0.058000,0.058700
2,4104,PHJ40 x LH82,1,3.0,1,HIPS,field,45.55762,980.98608,24.51,...,0.063400,0.062600,0.062200,0.0616,0.061200,0.061400,0.061100,0.060300,0.060000,0.060100
3,4104,PHJ40 x LH82,1,1.0,1,HIPS,GH,42.10254,975.71295,27.82,...,0.063600,0.063600,0.063300,0.0630,0.062576,0.061800,0.061500,0.061800,0.061600,0.061200
4,4104,PHJ40 x LH82,1,2.0,1,HIPS,GH,42.10254,975.71295,27.82,...,0.061100,0.060314,0.059900,0.0599,0.059600,0.059400,0.059027,0.058200,0.058000,0.058700
5,4104,PHJ40 x LH82,1,3.0,1,HIPS,GH,42.10254,975.71295,27.82,...,0.063400,0.062600,0.062200,0.0616,0.061200,0.061400,0.061100,0.060300,0.060000,0.060100
6,4104,PHJ40 x LH82,2,1.0,1,HIPS,field,46.45410,980.91498,24.99,...,0.068400,0.068200,0.067900,0.0673,0.067200,0.067500,0.067400,0.067510,0.067100,0.065800
7,4104,PHJ40 x LH82,2,2.0,1,HIPS,field,46.45410,980.91498,24.99,...,0.077800,0.077000,0.076600,0.0767,0.076400,0.075900,0.075400,0.074300,0.073900,0.073900
8,4104,PHJ40 x LH82,2,3.0,1,HIPS,field,46.45410,980.91498,24.99,...,0.071100,0.071000,0.070925,0.0709,0.070600,0.070200,0.069800,0.069000,0.068500,0.068200
9,4104,PHJ40 x LH82,2,1.0,1,HIPS,GH,41.63965,975.71924,27.80,...,0.068400,0.068200,0.067900,0.0673,0.067200,0.067500,0.067400,0.067510,0.067100,0.065800
10,4104,PHJ40 x LH82,2,2.0,1,HIPS,GH,41.63965,975.71924,27.80,...,0.077800,0.077000,0.076600,0.0767,0.076400,0.075900,0.075400,0.074300,0.073900,0.073900
11,4104,PHJ40 x LH82,2,3.0,1,HIPS,GH,41.63965,975.71924,27.80,...,0.071100,0.071000,0.070925,0.0709,0.070600,0.070200,0.069800,0.069000,0.068500,0.068200
12,4106,2FACC x 3IIH6,1,1.0,1,HIPS,field,45.39258,980.81995,25.24,...,0.059200,0.058700,0.058500,0.0583,0.058100,0.057900,0.057600,0.057100,0.056700,0.056100
13,4106,2FACC x 3IIH6,1,2.0,1,HIPS,field,45.39258,980.81995,25.24,...,0.052500,0.052200,0.052000,0.0513,0.050800,0.050900,0.050500,0.049600,0.049200,0.048900
14,4106,2FACC x 3IIH6,1,3.0,1,HIPS,field,45.39258,980.81995,25.24,...,0.051900,0.052100,0.051757,0.0515,0.051400,0.050700,0.050400,0.050900,0.050800,0.050400
15,4106,2FACC x 3IIH6,1,1.0,1,HIPS,GH,42.39844,975.74005,27.92,...,0.059200,0.058700,0.058500,0.0583,0.058100,0.057900,0.057600,0.057100,0.056700,0.056100
16,4106,2FACC x 3IIH6,1,2.0,1,HIPS,GH,42.39844,975.74005,27.92,...,0.052500,0.052200,0.052000,0.0513,0.050800,0.050900,0.050500,0.049600,0.049200,0.048900
17,4106,2FACC x 3IIH6,1,3.0,1,HIPS,GH,42.39844,975.74005,27.92,...,0.051900,0.052100,0.051757,0.0515,0.051400,0.050700,0.050400,0.050900,0.050800,0.050400
18,4106,2FACC x 3IIH6,2,1.0,1,HIPS,field,44.93066,980.78674,25.42,...,0.069300,0.069100,0.068900,0.0680,0.067700,0.068002,0.068000,0.068000,0.067902,0.067600
19,4106,2FACC x 3IIH6,2,2.0,1,HIPS,field,44.93066,980.78674,25.42,...,0.060100,0.059400,0.059200,0.0599,0.059900,0.059700,0.059400,0.058236,0.057800,0.057400
20,4106,2FACC x 3IIH6,2,3.0,1,HIPS,field,44.93066,980.78674,25.42,...,0.074200,0.073900,0.073500,0.0727,0.072200,0.072200,0.071989,0.071700,0.071300,0.070900
21,4106,2FACC x 3IIH6,2,1.0,1,HIPS,GH,41.73926,975.76263,27.87,...,0.069300,0.069100,0.068900,0.0680,0.067700,0.068002,0.068000,0.068000,0.067902,0.067600
22,4106,2FACC x 3IIH6,2,2.0,1,HIPS,GH,41.73926,975.76263,27.87,...,0.060100,0.059400,0.059200,0.0599,0.059900,0.059700,0.059400,0.058236,0.057800,0.057400
23,4106,2FACC x 3IIH6,2,3.0,1,HIPS,GH,41.73926,975.76263,27.87,...,0.074200,0.073900,0.073500,0.0727,0.072200,0.072200,0.071989,0.071700,0.071300,0.070900
24,4108,B37 x OH43,1,1.0,1,HIPS,field,43.59570,980.77661,25.69,...,0.054200,0.054200,0.054000,0.0536,0.053500,0.053500,0.053300,0.053100,0.053200,0.053300
25,4108,B37 x OH43,1,2.0,1,HIPS,field,43.59570,980.77661,25.69,...,0.056600,0.056300,0.056000,0.0557,0.055500,0.055300,0.055000,0.054700,0.054600,0.054600
26,4108,B37 x OH43,1,3.0,1,HIPS,field,43.59570,980.77661,25.69,...,0.074400,0.074100,0.073900,0.0739,0.073700,0.073500,0.073100,0.072400,0.072100,0.071600
27,4108,B37 x OH43,1,1.0,1,HIPS,GH,40.40137,975.88733,27.45,...,0.054200,0.054200,0.054000,0.0536,0.053500,0.053500,0.053300,0.053100,0.053200,0.053300
28,4108,B37 x OH43,1,2.0,1,HIPS,GH,40.40137,975.88733,27.45,...,0.056600,0.056300,0.056000,0.0557,0.055500,0.055300,0.055000,0.054700,0.054600,0.054600
29,4108,B37 x OH43,1,3.0,1,HIPS,GH,40.40137,975.88733,27.45,...,0.074400,0.074100,0.073900,0.0739,0.073700,0.073500,0.073100,0.072400,0.072100,0.071600
30,4108,B37 x OH43,2,1.0,1,HIPS,field,44.04883,980.78772,25.99,...,0.051100,0.050500,0.050200,0.0502,0.049900,0.049600,0.049300,0.049000,0.048700,0.048600
31,4108,B37 x OH43,2,2.0,1,HIPS,field,44.04883,980.78772,25.99,...,0.049431,0.049200,0.049000,0.0488,0.048500,0.047900,0.047655,0.047600,0.047400,0.047384
32,4108,B37 x OH43,2,3.0,1,HIPS,field,44.04883,980.78772,25.99,...,0.051000,0.051100,0.051000,0.0510,0.050900,0.050400,0.049900,0.049400,0.049300,0.049500
33,4108,B37 x OH43,2,1.0,1,HIPS,GH,42.12012,975.98578,27.28,...,0.051100,0.050500,0.050200,0.0502,0.049900,0.049600,0.049300,0.049000,0.048700,0.048600
34,4108,B37 x OH43,2,2.0,1,HIPS,GH,42.12012,975.98578,27.28,...,0.049431,0.049200,0.049000,0.0488,0.048500,0.047900,0.047655,0.047600,0.047400,0.047384
35,4108,B37 x OH43,2,3.0,1,HIPS,GH,42.12012,975.98578,27.28,...,0.051000,0.051100,0.051000,0.0510,0.050900,0.050400,0.049900,0.049400,0.049300,0.049500
36,4111,PHK76 x 3IIH6,1,1.0,1,HIPS,field,43.44824,980.80139,26.28,...,0.060000,0.060000,0.059900,0.0598,0.059400,0.058521,0.058200,0.058000,0.057700,0.058000
37,4111,PHK76 x 3IIH6,1,2.0,1,HIPS,field,43.44824,980.80139,26.28,...,0.059100,0.058600,0.058500,0.0586,0.058200,0.057300,0.057000,0.056600,0.056200,0.056700
38,4111,PHK76 x 3IIH6,1,3.0,1,HIPS,field,43.44824,980.80139,26.28,...,0.054100,0.053900,0.053500,0.0530,0.052900,0.052716,0.052500,0.053000,0.052900,0.052200
39,4111,PHK76 x 3IIH6,1,1.0,1,HIPS,GH,42.33789,976.48859,26.67,...,0.060000,0.060000,0.059900,0.0598,0.059400,0.058521,0.058200,0.058000,0.057700,0.058000
40,4111,PHK76 x 3IIH6,1,2.0,1,HIPS,GH,42.33789,976.48859,26.67,...,0.059100,0.058600,0.058500,0.0586,0.058200,0.057300,0.057000,0.056600,0.056200,0.056700
41,4111,PHK76 x 3IIH6,1,3.0,1,HIPS,GH,42.33789,976.48859,26.67,...,0.054100,0.053900,0.053500,0.0530,0.052900,0.052716,0.052500,0.053000,0.052900,0.052200
42,4111,PHK76 x 3IIH6,2,1.0,1,HIPS,field,42.59863,980.77533,26.51,...,0.053000,0.052900,0.052800,0.0533,0.053100,0.052200,0.051900,0.051500,0.051200,0.051600
43,4111,PHK76 x 3IIH6,2,2.0,1,HIPS,field,42.59863,980.77533,26.51,...,0.048700,0.048600,0.048300,0.0481,0.047796,0.047000,0.046800,0.047500,0.047442,0.047100
44,4111,PHK76 x 3IIH6,2,3.0,1,HIPS,field,42.59863,980.77533,26.51,...,0.053500,0.053100,0.052900,0.0528,0.052400,0.051900,0.051500,0.050700,0.050400,0.050600
45,4111,PHK76 x 3IIH6,2,1.0,1,HIPS,GH,42.08496,976.51062,26.66,...,0.053000,0.052900,0.052800,0.0533,0.053100,0.052200,0.051900,0.051500,0.051200,0.051600
46,4111,PHK76 x 3IIH6,2,2.0,1,HIPS,GH,42.08496,976.51062,26.66,...,0.048700,0.048600,0.048300,0.0481,0.047796,0.047000,0.046800,0.047500,0.047442,0.047100
47,4111,PHK76 x 3IIH6,2,3.0,1,HIPS,GH,42.08496,976.51062,26.66,...,0.053500,0.053100,0.052900,0.0528,0.052400,0.051900,0.051500,0.050700,0.050400,0.050600
48,4115,PHK76 x LH82,1,1.0,1,HIPS,field,41.29590,980.73688,27.07,...,0.068600,0.068100,0.067900,0.0681,0.068100,0.068200,0.068100,0.067452,0.067100,0.066800
49,4115,PHK76 x LH82,1,2.0,1,HIPS,field,41.29590,980.73688,27.07,...,0.063300,0.063300,0.062900,0.0624,0.062200,0.061800,0.061400,0.061400,0.061100,0.060500

In [108]:
GS1_all_merged.shape

(1486, 2187)

In [112]:
GS1_all_merged['PLOT ID'].value_counts(dropna=False)

4244    12
4236    12
4158    12
4277    12
6267    12
        ..
1144     6
2060     6
2109     6
1330     6
6170     4
Name: PLOT ID, Length: 142, dtype: int64

In [143]:
GS1_all_merged.loc[GS1_all_merged['PLOT ID']== '6170', :]

,PLOT ID,Genotype,Plant Number,Leaf_pos,Growth Stage,Field Location,Source,Ambient Humidity,Ambient Pressure,Ambient Temperature,...,2491,2492,2493,2494,2495,2496,2497,2498,2499,2500
1059,6170,PHK76 x LH82,1,NaN,1,HIPS,field,35.93652,979.55109,33.32,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1060,6170,PHK76 x LH82,1,NaN,1,HIPS,GH,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1061,6170,PHK76 x LH82,2,NaN,1,HIPS,field,36.06445,979.55951,33.33,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1062,6170,PHK76 x LH82,2,NaN,1,HIPS,GH,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [142]:
# Change the column 'REP' with 'Plant Number' since the replications are in the plot ids

GS1_all_merged.rename(columns={'REP':'Plant Number'}, inplace=True)

In [218]:
# Isolating the replications from PLOT IDs
rep = []
for i in GS1_all_merged['PLOT ID']:
    str(i)
    if i[0] == '1' or i[0] == '2' :
        rep.append(i[0])
    else:
        rep.append(i[1])

In [219]:
# inserting the real replications as a column
GS1_all_merged.insert(2, 'Rep', rep)

In [229]:
#Checking the replication numbers
GS1_all_merged["Rep"].value_counts(dropna=False)

1    760
2    726
Name: Rep, dtype: int64

In [285]:
# Isolating N treatments from PLOT ID
trt = []
for i in GS1_all_merged['PLOT ID']:
    str(i)
    if i[0] == '6':
        trt.append('HN')
    if i[0] == '5':
        trt.append('MN')
    if i[0] == '4':
        trt.append('LN')
    if i[0] == '1' or i[0] == '2':
        trt.append(np.NaN)

In [288]:
# inserting the N treatments as a column
GS1_all_merged.insert(5, 'Trt', trt)

In [296]:
# Checking the treatments
GS1_all_merged['Trt'].value_counts(dropna=False)

LN     430
MN     428
HN     424
NaN    204
Name: Trt, dtype: int64

In [297]:
# Export the final version of GS1 with all measurements
GS1_all_merged.to_csv('GS1_all_merged.csv')

In [298]:
GS1_all_merged.shape

(1486, 2189)