In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import scale 
from sklearn.preprocessing import StandardScaler
from sklearn import model_selection
from sklearn.model_selection import RepeatedKFold
from sklearn.model_selection import train_test_split
from sklearn.cross_decomposition import PLSRegression
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from scipy.signal import savgol_filter

In [2]:
data = pd.read_csv('GS1_ready_for_analysis.csv')

In [3]:
#looking at the columns
data.columns[0:35]

Index(['Unnamed: 0', 'Field Location', 'Source', 'PLOT ID', 'Genotype', 'Rep',
       'Plant Number', 'Trt', 'Growth Stage', 'SPADmeter', 'Ambient Humidity',
       'Ambient Pressure', 'Ambient Temperature', 'FmPrime', 'FoPrime', 'Fs',
       'FvP_over_FmP', 'Leaf Temperature', 'Leaf Temperature Differential',
       'leaf_thickness', 'LEF', 'NPQt', 'Phi2', 'PhiNO', 'PhiNPQ',
       'PS1 Active Centers', 'PS1 Open Centers', 'PS1 Over Reduced Centers',
       'PS1 Oxidized Centers', 'qL', 'SPAD_multispeq', 'vH+', 'Fresh Weight',
       'Leaf Area', '350'],
      dtype='object')

In [4]:
data.head()

,Unnamed: 0,Field Location,Source,PLOT ID,Genotype,Rep,Plant Number,Trt,Growth Stage,SPADmeter,...,2491,2492,2493,2494,2495,2496,2497,2498,2499,2500
0,0,HIPS,field,4104,PHJ40 x LH82,1,1,LN,1.0,NaN,...,0.062700,0.062171,0.061800,0.061500,0.061125,0.060867,0.060542,0.060100,0.059867,0.0600
1,1,HIPS,GH,4104,PHJ40 x LH82,1,1,LN,1.0,43.566667,...,0.062700,0.062171,0.061800,0.061500,0.061125,0.060867,0.060542,0.060100,0.059867,0.0600
2,2,HIPS,field,4104,PHJ40 x LH82,1,2,LN,1.0,NaN,...,0.072433,0.072067,0.071808,0.071633,0.071400,0.071200,0.070867,0.070270,0.069833,0.0693
3,3,HIPS,GH,4104,PHJ40 x LH82,1,2,LN,1.0,49.500000,...,0.072433,0.072067,0.071808,0.071633,0.071400,0.071200,0.070867,0.070270,0.069833,0.0693
4,4,HIPS,field,4106,2FACC x 3IIH6,1,1,LN,1.0,NaN,...,0.054533,0.054333,0.054086,0.053700,0.053433,0.053167,0.052833,0.052533,0.052233,0.0518

In [ ]:
sam_spectrum = data.loc[data['Field Location'] == 'SAM']

In [5]:
data['Field Location'].value_counts()

HIPS    431
SAM      68
Name: Field Location, dtype: int64

In [147]:
# selecting the source
data =data.loc[data['Source'] == 'GH' , :]

In [158]:
# identifying the X
position_350 = data.columns.get_loc('350')
position_2500 = data.columns.get_loc('2500') + 1 
X = data.iloc[:, position_350 : position_2500]

In [160]:
X.shape

(216, 2151)